<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsItemsSchoolMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsItemsSchool" id="AssetsItemsSchoolResult">
        <result property="id"    column="id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemType"    column="item_type"    />
        <result property="itemFormat"    column="item_format"    />
        <result property="batchNum"    column="batch_num"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="postSalePhone"    column="post_sale_phone"    />
        <result property="installedTime"    column="installed_time"    />
        <result property="warrantyTime"    column="warranty_time"    />
        <result property="itemLocation"    column="item_location"    />
        <result property="itemIp"    column="item_ip"    />
        <result property="itemAdmin"    column="item_admin"    />
        <result property="maintenanceRecords"    column="maintenance_records"    />
        <result property="itemState"    column="item_state"    />
        <result property="remarks"    column="remarks"    />
        <result property="itemBelonger"    column="item_belonger"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectAssetsItemsSchoolVo">
        select id, item_name, item_type, item_format, batch_num, supplier_name, post_sale_phone, installed_time, warranty_time, item_location, item_ip, item_admin, maintenance_records, item_state, remarks, item_belonger, create_time from assets_items_school
    </sql>

    <select id="selectAssetsItemsSchoolList" parameterType="com.ruoyi.assets.domain.AssetsItemsSchool" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolVo"/>
        <where>  
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="batchNum != null "> and batch_num = #{batchNum}</if>
            <if test="warrantyTime != null "> and warranty_time = #{warrantyTime}</if>
            <if test="itemLocation != null  and itemLocation != ''"> and item_location = #{itemLocation}</if>
            <if test="itemState != null "> and item_state = #{itemState}</if>
        </where>
    </select>
    
    <select id="selectAssetsItemsSchoolById" parameterType="Long" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetsItemsSchool" parameterType="com.ruoyi.assets.domain.AssetsItemsSchool" useGeneratedKeys="true" keyProperty="id">
        insert into assets_items_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemFormat != null">item_format,</if>
            <if test="batchNum != null">batch_num,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="postSalePhone != null">post_sale_phone,</if>
            <if test="installedTime != null">installed_time,</if>
            <if test="warrantyTime != null">warranty_time,</if>
            <if test="itemLocation != null">item_location,</if>
            <if test="itemIp != null">item_ip,</if>
            <if test="itemAdmin != null">item_admin,</if>
            <if test="maintenanceRecords != null">maintenance_records,</if>
            <if test="itemState != null">item_state,</if>
            <if test="remarks != null">remarks,</if>
            <if test="itemBelonger != null">item_belonger,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemFormat != null">#{itemFormat},</if>
            <if test="batchNum != null">#{batchNum},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="postSalePhone != null">#{postSalePhone},</if>
            <if test="installedTime != null">#{installedTime},</if>
            <if test="warrantyTime != null">#{warrantyTime},</if>
            <if test="itemLocation != null">#{itemLocation},</if>
            <if test="itemIp != null">#{itemIp},</if>
            <if test="itemAdmin != null">#{itemAdmin},</if>
            <if test="maintenanceRecords != null">#{maintenanceRecords},</if>
            <if test="itemState != null">#{itemState},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="itemBelonger != null">#{itemBelonger},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAssetsItemsSchool" parameterType="com.ruoyi.assets.domain.AssetsItemsSchool">
        update assets_items_school
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemFormat != null">item_format = #{itemFormat},</if>
            <if test="batchNum != null">batch_num = #{batchNum},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="postSalePhone != null">post_sale_phone = #{postSalePhone},</if>
            <if test="installedTime != null">installed_time = #{installedTime},</if>
            <if test="warrantyTime != null">warranty_time = #{warrantyTime},</if>
            <if test="itemLocation != null">item_location = #{itemLocation},</if>
            <if test="itemIp != null">item_ip = #{itemIp},</if>
            <if test="itemAdmin != null">item_admin = #{itemAdmin},</if>
            <if test="maintenanceRecords != null">maintenance_records = #{maintenanceRecords},</if>
            <if test="itemState != null">item_state = #{itemState},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="itemBelonger != null">item_belonger = #{itemBelonger},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsItemsSchoolById" parameterType="Long">
        delete from assets_items_school where id = #{id}
    </delete>

    <delete id="deleteAssetsItemsSchoolByIds" parameterType="String">
        delete from assets_items_school where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>