<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsPropertyMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsProperty" id="AssetsPropertyResult">
        <result property="id"    column="id"    />
        <result property="itemId"    column="item_id"    />
        <result property="propertyValue"    column="property_value"    />
        <result property="propertyName"    column="property_name"    />
    </resultMap>

    <sql id="selectAssetsPropertyVo">
        select id, item_id, property_value, property_name from assets_property
    </sql>

    <select id="selectAssetsPropertyList" parameterType="com.ruoyi.assets.domain.AssetsProperty" resultMap="AssetsPropertyResult">
        <include refid="selectAssetsPropertyVo"/>
        <where>  
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="propertyValue != null  and propertyValue != ''"> and property_value = #{propertyValue}</if>
            <if test="propertyName != null  and propertyName != ''"> and property_name like concat('%', #{propertyName}, '%')</if>
        </where>
    </select>
    
    <select id="selectAssetsPropertyById" parameterType="Long" resultMap="AssetsPropertyResult">
        <include refid="selectAssetsPropertyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetsProperty" parameterType="com.ruoyi.assets.domain.AssetsProperty">
        insert into assets_property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="propertyValue != null">property_value,</if>
            <if test="propertyName != null">property_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="propertyValue != null">#{propertyValue},</if>
            <if test="propertyName != null">#{propertyName},</if>
         </trim>
    </insert>

    <update id="updateAssetsProperty" parameterType="com.ruoyi.assets.domain.AssetsProperty">
        update assets_property
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="propertyValue != null">property_value = #{propertyValue},</if>
            <if test="propertyName != null">property_name = #{propertyName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsPropertyById" parameterType="Long">
        delete from assets_property where id = #{id}
    </delete>

    <delete id="deleteAssetsPropertyByIds" parameterType="String">
        delete from assets_property where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>