<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsItemsMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsItems" id="AssetsItemsSchoolResult">
        <result property="id"    column="id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemType"    column="item_type"    />
        <result property="itemFormat"    column="item_format"    />
        <result property="batchNum"    column="batch_num"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="postSalePhone"    column="post_sale_phone"    />
        <result property="installedTime"    column="installed_time"    />
        <result property="warrantyTime"    column="warranty_time"    />
        <result property="itemLocation"    column="item_location"    />
        <result property="itemIp"    column="item_ip"    />
        <result property="itemAdmin"    column="item_admin"    />
        <result property="isWriteOff" column="is_write_off"/>
        <result property="distributeId" column="distribute_id"/>
        <result property="isModify" column="is_modify"/>
        <result property="itemState"    column="item_state"    />
        <result property="remarks"    column="remarks"    />
        <result property="itemBelonger"    column="item_belonger"    />
        <result property="itemBelongerName"    column="dept_name"    />
        <result property="createTime"    column="create_time"    />
        <collection property="maintenanceRecords" column="id"  select="com.ruoyi.assets.mapper.AssetsItemsMaintenanceMapper.selectAssetsItemsMaintenanceAndBelongerByItemId">
        </collection>
    </resultMap>

    <resultMap id="AssetsStatisticsBySchoolMap" type="com.ruoyi.assets.domain.AssetsStatisticsBySchool">
        <result property="deptName" column="dept_name"></result>
        <result property="equipmentTotal" column="equipment_total"></result>
        <result property="equipmentWriteOffNum" column="write_off_num"></result>
        <collection property="assetsItemsList" column="dept_id"
                    select="com.ruoyi.assets.mapper.AssetsItemsMapper.selectAssetsItemsSchoolByDeptId">
        </collection>
     </resultMap>

    <resultMap id="AssetsStatisticsByTypeMap" type="com.ruoyi.assets.domain.AssetsStatisticsByType">
        <result property="itemType" column="item_type"></result>
        <result property="equipmentTotal" column="equipment_total"></result>
        <result property="equipmentWriteOffNum" column="write_off_num"></result>
        <collection property="assetsItemsList" column="item_type"
                    select="com.ruoyi.assets.mapper.AssetsItemsMapper.selectAssetsItemsSchoolByType">
        </collection>
    </resultMap>
    <resultMap id="AssetsStatisticsByBatchMap" type="com.ruoyi.assets.domain.AssetsStatisticsByBatch">
        <result property="batchNum" column="batch_num"></result>
        <result property="equipmentTotal" column="equipment_total"></result>
        <result property="equipmentWriteOffNum" column="write_off_num"></result>
        <collection property="assetsItemsList" column="batch_num"
                    select="com.ruoyi.assets.mapper.AssetsItemsMapper.selectAssetsItemsSchoolByBatch">
        </collection>
    </resultMap>
    <resultMap id="AssetsStatisticsResult" type="com.ruoyi.assets.domain.AssetsStatistics">
        <result property="itemBelongerName" column="item_belonger_name"/>
        <result property="itemType" column="item_type"/>
        <result property="batchNum" column="batch_num"/>
        <result property="itemNum" column="item_num"/>
        <result property="writerOffNum" column="write_off_num"/>
        <result property="residueNum" column="residue_num"/>
    </resultMap>





    <sql id="selectAssetsItemsSchoolVo">
        select id, item_name, item_type, item_format,is_write_off,is_modify,batch_num, supplier_name, post_sale_phone, installed_time, warranty_time, item_location, item_ip, item_admin, item_state, remarks, item_belonger, create_time from assets_items
    </sql>
    <sql id="selectAssetsItemsSchoolAndNameVo">
        select assets_items.id, assets_items.item_name, assets_items.item_type, assets_items.item_format,assets_items.is_write_off,assets_items.is_modify,assets_items.batch_num, assets_items.supplier_name, assets_items.post_sale_phone, assets_items.installed_time, assets_items.warranty_time, assets_items.item_location,assets_items.item_ip, assets_items.item_admin, assets_items.item_state, assets_items.remarks, assets_items.item_belonger, assets_items.create_time,sys_dept.dept_name from assets_items,sys_dept where assets_items.item_belonger=sys_dept.dept_id
    </sql>
    <select id="selectAssetsItemsSchoolList" parameterType="com.ruoyi.assets.domain.AssetsItems" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolVo"/>
        <where>  
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemType != null  and itemType != ''"> and item_type  = #{itemType}</if>
            <if test="batchNum != null "> and batch_num like concat('%', #{batchNum}, '%')</if>
            <if test="warrantyTime != null "> and warranty_time = #{warrantyTime}</if>
            <if test="itemLocation != null  and itemLocation != ''"> and item_location = #{itemLocation}</if>
            <if test="itemState != null "> and item_state = #{itemState}</if>
            <if test="itemBelonger != null and itemBelonger !=100"> and item_belonger = #{itemBelonger}</if>
            <if test="isWriteOff != null"> and is_write_off = #{isWriteOff}</if>
            <if test="isModify != null"> and is_modify = #{isModify}</if>
        </where>
        order by item_belonger,is_write_off
    </select>
    
    <select id="selectAssetsItemsSchoolById" parameterType="Long" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolVo"/>
        where id = #{id}
    </select>
    <select id="getBatchNum" resultType="string">
        select batch_num from assets_items group by batch_num
    </select>
    <select id="selectAssetsItemsSchoolByDeptId" parameterType="Long" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolVo"/>
        where item_belonger = #{id}
    </select>
    <select id="selectAssetsStatisticsBySchool" resultMap="AssetsStatisticsBySchoolMap">
    select assets_items.item_belonger as dept_id,
           sys_dept.dept_name,
          count(assets_items.item_belonger) as equipment_total,
          sum(case when assets_items.is_write_off=1 then 1 else 0 end) as write_off_num
          from assets_items,sys_dept
          where assets_items.item_belonger=sys_dept.dept_id
          group by assets_items.item_belonger
    </select>
    <select id="selectAssetsStatisticsByType" resultMap="AssetsStatisticsByTypeMap">
    select assets_items.item_type,
    count(assets_items.item_type) as item_num,
    sum(case when assets_items.is_write_off = 1 then 1 else 0 end) as writer_off_num
    from assets_items,sys_dept
    where assets_items.item_belonger=sys_dept.dept_id
    group by assets_items.item_type
    </select>
    <select id="selectAssetsItemsSchoolByType" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolAndNameVo"/>
        and item_type = #{id}
    </select>
    <select id="selectAssetsStatisticsByBatch" resultMap="AssetsStatisticsByBatchMap">
        select assets_items.batch_num,
        count(assets_items.batch_num) as equipment_total,
        sum(case when assets_items.is_write_off = 1 then 1 else 0 end) as write_off_num
        from assets_items,sys_dept
        where assets_items.item_belonger=sys_dept.dept_id
        group by assets_items.batch_num
    </select>
    <select id="selectAssetsItemsSchoolByBatch" resultMap="AssetsItemsSchoolResult">
        <include refid="selectAssetsItemsSchoolAndNameVo"/>
        and batch_num=#{id}
    </select>
    <select id="getAssetsStatistics" resultMap="AssetsStatisticsResult">
    select sys_dept.dept_name as item_belonger_name,assets_items.item_type,assets_items.batch_num,
    count(assets_items.item_type) as item_num,
    sum(case when assets_items.is_write_off = 1 then 1 else 0 end) as write_off_num,
    sum(case when assets_items.is_write_off = 1 then 0 else 1 end) as residue_num
    from assets_items,sys_dept
    where assets_items.item_belonger=sys_dept.dept_id
    <if test="itemBelongerName != null and itemBelongerName != '' ">and sys_dept.dept_name=#{itemBelongerName}</if>
    <if test="itemType != null and itemType != '' " >and item_type=#{itemType}</if>
    <if test="batchNum != null and batchNum !='' ">and batch_num=#{batchNum}</if>
    group by assets_items.item_belonger,assets_items.item_type,assets_items.batch_num
    </select>
    <select id="getSchoolsByAssetsItem" resultType="java.lang.String">
       select sys_dept.dept_name from sys_dept,assets_items
       where sys_dept.dept_id = assets_items.item_belonger
        <if test="itemBelongerName !=null">and sys_dept.dept_name = #{itemBelongerName}</if>
        <if test="batchNum !=null">and batch_num = #{batchNum}</if>
        <if test="itemType !=null">and item_type= #{itemType}</if>
       group by dept_name
    </select>
    <select id="getBatchNumByAssetsItem" resultType="java.lang.String">
        select batch_num from sys_dept,assets_items
       where sys_dept.dept_id = assets_items.item_belonger
       <if test="itemBelongerName !=null">and sys_dept.dept_name = #{itemBelongerName}</if>
       <if test="batchNum !=null">and batch_num = #{batchNum}</if>
       <if test="itemType !=null">and item_type= #{itemType}</if>
        group by batch_num
    </select>
    <select id="getTypesByAssetsItem" resultType="java.lang.String">
      select item_type from sys_dept,assets_items
        where sys_dept.dept_id = assets_items.item_belonger
        <if test="itemBelongerName !=null">and sys_dept.dept_name = #{itemBelongerName}</if>
        <if test="batchNum !=null">and batch_num = #{batchNum}</if>
        <if test="itemType !=null">and item_type= #{itemType}</if>
        group by
        item_type
    </select>


    <insert id="insertAssetsItemsSchool" parameterType="com.ruoyi.assets.domain.AssetsItems" useGeneratedKeys="true" keyProperty="id">
        insert into assets_items
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemFormat != null">item_format,</if>
            <if test="batchNum != null">batch_num,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="postSalePhone != null">post_sale_phone,</if>
            <if test="installedTime != null">installed_time,</if>
            <if test="warrantyTime != null">warranty_time,</if>
            <if test="itemLocation != null">item_location,</if>
            <if test="itemIp != null">item_ip,</if>
            <if test="itemAdmin != null">item_admin,</if>
            <if test="isWriteOff != null"> is_write_off,</if>
            <if test="itemState != null">item_state,</if>
            <if test="remarks != null">remarks,</if>
            <if test="distributeId != null">distribute_id,</if>
            <if test="itemBelonger != null">item_belonger,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isModify != null">is_modify,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemFormat != null">#{itemFormat},</if>
            <if test="batchNum != null">#{batchNum},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="postSalePhone != null">#{postSalePhone},</if>
            <if test="installedTime != null">#{installedTime},</if>
            <if test="warrantyTime != null">#{warrantyTime},</if>
            <if test="itemLocation != null">#{itemLocation},</if>
            <if test="itemIp != null">#{itemIp},</if>
            <if test="itemAdmin != null">#{itemAdmin},</if>
            <if test="isWriteOff != null">#{itemBelonger}</if>
            <if test="itemState != null">#{itemState},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="distributeId != null">#{distributeId},</if>
            <if test="itemBelonger != null">#{itemBelonger},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isModify != null"> #{isModify},</if>
         </trim>
    </insert>

    <update id="updateAssetsItemsSchool" parameterType="com.ruoyi.assets.domain.AssetsItems">
        update assets_items
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemFormat != null">item_format = #{itemFormat},</if>
            <if test="batchNum != null">batch_num = #{batchNum},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="postSalePhone != null">post_sale_phone = #{postSalePhone},</if>
            <if test="installedTime != null">installed_time = #{installedTime},</if>
            <if test="warrantyTime != null">warranty_time = #{warrantyTime},</if>
            <if test="itemLocation != null">item_location = #{itemLocation},</if>
            <if test="itemIp != null">item_ip = #{itemIp},</if>
            <if test="itemAdmin != null">item_admin = #{itemAdmin},</if>
            <if test="isWriteOff != null">is_write_off = #{isWriteOff},</if>
            <if test="itemState != null">item_state = #{itemState},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="itemBelonger != null">item_belonger = #{itemBelonger},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isModify != null"> is_modify = #{isModify},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsItemsSchoolById" parameterType="Long">
        delete from assets_items where id = #{id}
    </delete>

    <delete id="deleteAssetsItemsSchoolByIds" parameterType="String">
        delete from assets_items where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteAssetsItemsSchoolByAssetsItem">
        delete from assets_items where batch_num = #{batchNum} and item_belonger = #{itemBelonger}
    </delete>
    <delete id="deleteAssetsItemsByDistributeByIds">
        delete from assets_items where distribute_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteAssetsItemsSchoolByItemsDistributeId">
        delete from assets_items where distribute_id = #{id}
    </delete>

</mapper>