<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsItemsMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsItems" id="AssetsItemsResult">
        <result property="id"    column="id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemFormat"    column="item_format"    />
        <result property="warrantyTime"    column="warranty_time"    />
        <result property="usedTime"    column="used_time"    />
        <result property="itemTotal"    column="item_total"    />
        <result property="createTime"    column="create_time"    />
        <result property="contractId"    column="contract_id"    />
        <result property="contractName"    column="contract_name"    />
    </resultMap>
    <resultMap id="ItemsSupplierContractVoResult" type="com.ruoyi.assets.domain.vo.ItemsSupplierContractVo">
        <result property="id"    column="id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemFormat"    column="item_format"    />
        <result property="warrantyTime"    column="warranty_time"    />
        <result property="usedTime"    column="used_time"    />
        <result property="itemTotal"    column="item_total"    />
        <result property="createTime"    column="create_time"    />
        <result property="contractName"    column="contract_name"    />
        <result property="supplierName" column="supplier_name"/>
    </resultMap>
    <sql id="selectAssetsItemsVo">
       select id, item_name,item_format,warranty_time,used_time,item_total,create_time,contract_id,contract_name from assets_items
    </sql>

    <select id="selectAssetsItemsList"
            parameterType="com.ruoyi.assets.domain.AssetsItems"
            resultMap="AssetsItemsResult">
          <include refid="selectAssetsItemsVo"></include>
        <where>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="beginTime != null "><!-- 开始时间检索 -->
                AND date_format(assets_items.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null "><!-- 结束时间检索 -->
                AND date_format(assets_items.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectItemsSupplierContractVoList"
            parameterType="com.ruoyi.assets.domain.vo.ItemsSupplierContractVo"
            resultMap="ItemsSupplierContractVoResult">
        select assets_items.id ,item_name,item_format,warranty_time,used_time,item_total,assets_items.create_time,assets_contract.name contract_name,assets_supplier.supplier_name from assets_items,assets_supplier,assets_contract
        <where>
            and assets_items.contract_id =assets_contract.id and assets_supplier.contract_id = assets_contract.id
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="contractName != null  and contractName != ''"> and supplier_name like concat('%', #{contractName}, '%')</if>
            <if test="contractName != null  and contractName != ''"> and contract_name like concat('%', #{contractName}, '%')</if>
            <if test="beginTime != null "><!-- 开始时间检索 -->
                and date_format(assets_items.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null"><!-- 结束时间检索 -->
                and date_format(assets_items.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>



    <select id="selectAssetsItemsById" parameterType="Long" resultMap="AssetsItemsResult">
        <include refid="selectAssetsItemsVo"/>
        where id = #{id}
    </select>


    <insert id="insertAssetsItems" parameterType="com.ruoyi.assets.domain.AssetsItems" useGeneratedKeys="true" keyProperty="id">
        <if test="id !=null and id !=''" >
            update assets_items
            <trim prefix="SET" suffixOverrides=",">
                <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
                <if test="itemFormat != null and itemFormat != ''">item_format = #{itemFormat},</if>
                <if test="warrantyTime != null and warrantyTime != ''">warranty_time=#{warrantyTime},</if>
                <if test="usedTime != null and usedTime != ''">used_time=#{usedTime},</if>
                <if test="itemTotal != null and itemTotal != ''">item_total=#{itemTotal},</if>
                <if test="createTime != null ">create_time=#{createTime},</if>
                <if test="contractId != null and contractId != ''">contract_id=#{contractId},</if>
                <if test="contractName != null and contractName != ''">contract_name=#{contractName},</if>
            </trim>
            where id = #{id}
        </if>
        <if test="id==null">
            insert into assets_items
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="itemName != null and itemName != ''">item_name,</if>
                <if test="itemFormat != null and itemFormat != ''">item_format,</if>
                <if test="warrantyTime != null and warrantyTime != ''">warranty_time,</if>
                <if test="usedTime != null and usedTime != ''">used_time,</if>
                <if test="itemTotal != null and itemTotal != ''">item_total,</if>
                <if test="createTime != null ">create_time,</if>
                <if test="contractId != null and contractId != ''">contract_id,</if>
                <if test="contractName != null and contractName != ''">contract_name,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="itemName != null and itemName != ''">#{itemName},</if>
                <if test="itemFormat != null and itemFormat != ''">#{itemFormat},</if>
                <if test="warrantyTime != null and warrantyTime != ''">#{warrantyTime},</if>
                <if test="usedTime != null and usedTime != ''">#{usedTime},</if>
                <if test="itemTotal != null and itemTotal != ''">#{itemTotal},</if>
                <if test="createTime != null ">#{createTime},</if>
                <if test="contractId != null and contractId != ''">#{contractId},</if>
                <if test="contractName != null and contractName != ''">#{contractName},</if>
            </trim>
        </if>

    </insert>

    <update id="updateAssetsItems" parameterType="com.ruoyi.assets.domain.AssetsItems">
        update assets_items
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="itemFormat != null and itemFormat != ''">item_format = #{itemFormat},</if>
            <if test="warrantyTime != null and warrantyTime != ''">warranty_time=#{warrantyTime},</if>
            <if test="usedTime != null and usedTime != ''">used_time=#{usedTime},</if>
            <if test="itemTotal != null and itemTotal != ''">item_total=#{itemTotal},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="contractId != null and contractId != ''">contract_id=#{contractId},</if>
            <if test="contractName != null and contractName != ''">contract_name=#{contractName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsItemsById" parameterType="Long">
        delete from assets_items where id = #{id}
    </delete>

    <delete id="deleteAssetsItemsByIds" parameterType="String">
        delete from assets_items where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>