<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsOrdersMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsOrders" id="AssetsOrdersResult">
        <result property="id"    column="id"    />
        <result property="recordId"    column="record_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemNum"    column="item_num"    />
        <result property="senderId"    column="sender_id"    />
        <result property="senderName"    column="sender_name"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectAssetsOrdersVo">
        select id, record_id, item_id, item_name, item_num, sender_id,sender_name, receiver_id, receiver_name, create_time, state from assets_orders
    </sql>

    <select id="selectAssetsOrdersList" parameterType="com.ruoyi.assets.domain.AssetsOrders" resultMap="AssetsOrdersResult">
        <include refid="selectAssetsOrdersVo"/>
        <where>  
            <if test="recordId != null  and recordId != ''"> and record_id = #{recordId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemNum != null "> and item_num = #{itemNum}</if>
            <if test="senderId != null "> and sender_id = #{senderId}</if>
            <if test="senderName != null "> and sender_name = #{senderName}</if>
            <if test="receiverId != null "> and receiver_id = #{receiverId}</if>
            <if test="receiverName != null  and receiverName != ''"> and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectAssetsOrdersById" parameterType="Long" resultMap="AssetsOrdersResult">
        <include refid="selectAssetsOrdersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssetsOrders" parameterType="com.ruoyi.assets.domain.AssetsOrders" useGeneratedKeys="true" keyProperty="id">
        insert into assets_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemNum != null">item_num,</if>
            <if test="senderId != null">sender_id,</if>
            <if test="senderName != null">sender_name,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemNum != null">#{itemNum},</if>
            <if test="senderId != null">#{senderId},</if>
            <if test="senderName != null">#{senderName},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateAssetsOrders" parameterType="com.ruoyi.assets.domain.AssetsOrders">
        update assets_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemNum != null">item_num = #{itemNum},</if>
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsOrdersById" parameterType="Long">
        delete from assets_orders where id = #{id}
    </delete>

    <delete id="deleteAssetsOrdersByIds" parameterType="String">
        delete from assets_orders where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>