<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assets.mapper.AssetsItemRecordMapper">
    
    <resultMap type="com.ruoyi.assets.domain.AssetsItemRecord" id="AssetsItemRecordResult">
        <result property="id"    column="id"    />
        <result property="itemId"    column="item_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemNum"    column="item_num"    />
        <result property="senderId"    column="sender_id"    />
        <result property="senderName"    column="sender_name"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="operatorId"    column="operator_id"    />
    </resultMap>

    <sql id="selectAssetsItemRecordVo">
        select id, record_id,item_id, item_name, item_num, sender_id,sender_name, receiver_name,receiver_id, create_time, state,operator_id from assets_item_record
    </sql>

    <select id="selectAssetsItemRecordList" parameterType="com.ruoyi.assets.domain.AssetsItemRecord" resultMap="AssetsItemRecordResult">
        <include refid="selectAssetsItemRecordVo"/>
        <where>  
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemNum != null "> and item_num = #{itemNum}</if>
            <if test="senderId != null "> and sender_id = #{senderId}</if>
            <if test="senderName != null "> and sender_name = #{senderName}</if>
            <if test="receiverId != null "> and receiver_id = #{receiverId}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
        order by record_id
    </select>
    
    <select id="selectAssetsItemRecordById" parameterType="Long" resultMap="AssetsItemRecordResult">
        <include refid="selectAssetsItemRecordVo"/>
        where id = #{id}
    </select>
    <select id="selectAssetsItemRecordByRecordId" parameterType="string"  resultMap="AssetsItemRecordResult">
        <include refid="selectAssetsItemRecordVo"/>
        where record_id = #{recordId}
    </select>


    <insert id="insertAssetsItemRecord" parameterType="com.ruoyi.assets.domain.AssetsItemRecord" useGeneratedKeys="true" keyProperty="id">
        insert into assets_item_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemNum != null">item_num,</if>
            <if test="senderId != null">sender_id,</if>
            <if test="senderName != null">sender_name,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
            <if test="operatorId != null">operator_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemNum != null">#{itemNum},</if>
            <if test="senderId != null">#{senderId},</if>
            <if test="senderName != null">#{senderName},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
            <if test="operatorId != null">#{operatorId},</if>
         </trim>
    </insert>

    <update id="updateAssetsItemRecord" parameterType="com.ruoyi.assets.domain.AssetsItemRecord">
        update assets_item_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemNum != null">item_num = #{itemNum},</if>
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsItemRecordById" parameterType="Long">
        delete from assets_item_record where id = #{id}
    </delete>

    <delete id="deleteAssetsItemRecordByIds" parameterType="String">
        delete from assets_item_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>