<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.survey.mapper.QfCreateFormMapper">
    
    <resultMap type="com.ruoyi.survey.domain.QfCreateForm" id="QfCreateFormResult">
        <result property="id"    column="id"    />
        <result property="strData"    column="json_data"    />
        <result property="title"    column="title"    />
        <result property="createTime"    column="create_time"    />
        <result property="creator"    column="creator"    />
        <result property="endTime"    column="end_time"    />
        <result property="hoTime"    column="end_time"    />
    </resultMap>

    <sql id="selectQfCreateFormVo">
        select id, json_data, create_time,title creator, end_time from qf_create_form
    </sql>

    <select id="selectQfCreateFormList" parameterType="com.ruoyi.survey.domain.QfCreateForm" resultMap="QfCreateFormResult">
        <include refid="selectQfCreateFormVo"/>
        <where>
            <if test="strData != null  and strData != ''"> and json_data = #{strData}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectQfCreateFormById" parameterType="Long" resultMap="QfCreateFormResult">
        <include refid="selectQfCreateFormVo"/>
        where id = #{id}
    </select>
    <select id="selectQfCreateFormByUsername" resultMap="QfCreateFormResult">
        select * from qf_create_form
        <where>
            <if test="username != null  and username != ''"> and creator =#{username}</if>
            <if test="qfCreateForm.id != null  and qfCreateForm.id != ''"> and id like '%${qfCreateForm.id}%'</if>
            <if test="qfCreateForm.title != null  and qfCreateForm.title != ''"> and title like '%${qfCreateForm.title}%'</if>
        </where>
    </select>

    <insert id="insertQfCreateForm" parameterType="com.ruoyi.survey.domain.QfCreateForm" useGeneratedKeys="true" keyProperty="id">
        insert into qf_create_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="strData != null and strData != ''">json_data,</if>
            <if test="createTime != null">create_time,</if>
            <if test="creator != null">creator,</if>
            <if test="endTime != null">end_time,</if>
            <if test="title != null">title,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="strData != null and strData != ''">#{strData},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="creator != null">#{creator},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="title != null">#{title},</if>
         </trim>
    </insert>

    <update id="updateQfCreateForm" parameterType="com.ruoyi.survey.domain.QfCreateForm">
        update qf_create_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="strData != null and strData != ''">json_data = #{strData},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="hoTime != null">ho_hime = #{hoTime},</if>
        </trim>
        where id = #{id}
    </update>



    <delete id="deleteQfCreateFormByIds" parameterType="String">
        delete from qf_create_form where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>