<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.survey.mapper.QfUserFormMapper">
    
    <resultMap type="com.ruoyi.survey.domain.QfUserForm" id="QfUserFormResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="userId"    column="user_id"    />
        <result property="commitUser"    column="commit_user"    />
        <result property="key"    column="key"    />
        <result property="value"    column="value"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectQfUserFormVo">
        select id, create_id, commit_user, user_id,key, value,state ,create_time from qf_user_form
    </sql>

    <select id="selectQfUserFormList" parameterType="com.ruoyi.survey.domain.QfUserForm" resultMap="QfUserFormResult">
        <include refid="selectQfUserFormVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="commitUser != null  and commitUser != ''"> and commit_user = #{commitUser}</if>
            <if test="key != null  and key != ''"> and key = #{key}</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
        </where>
    </select>
    
    <select id="selectQfUserFormById" parameterType="Long" resultMap="QfUserFormResult">
        <include refid="selectQfUserFormVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQfUserForm" parameterType="com.ruoyi.survey.domain.QfUserForm" useGeneratedKeys="true" keyProperty="id">
        insert into qf_user_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="commitUser != null and commitUser != ''">commit_user,</if>
            <if test="key != null and key != ''">qf_user_form.key,</if>
            <if test="value != null">qf_user_form.value,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="commitUser != null and commitUser != ''">#{commitUser},</if>
            <if test="key != null and key != ''">#{key},</if>
            <if test="value != null">#{value},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateQfUserForm" parameterType="com.ruoyi.survey.domain.QfUserForm">
        update qf_user_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>
            <if test="commitUser != null and commitUser != ''">commit_user = #{commitUser},</if>
            <if test="key != null and key != ''">key = #{key},</if>
            <if test="value != null">value = #{value},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQfUserFormById" parameterType="Long">
        delete from qf_user_form where id = #{id}
    </delete>

    <delete id="deleteQfUserFormByIds" parameterType="String">
        delete from qf_user_form where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>