<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.survey.mapper.QfUserFormMapper">
    
    <resultMap type="com.ruoyi.survey.domain.QfUserForm" id="QfUserFormResult">
        <result property="id"    column="id"    />
        <result property="createId"    column="create_id"    />
        <result property="schoolId"    column="school_id"    />
        <result property="schoolName"    column="school_name"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectQfUserFormVo">
        select id, create_id,state,school_name,school_id ,create_time from qf_school_form
    </sql>

    <select id="selectQfUserFormList" parameterType="com.ruoyi.survey.domain.QfUserForm" resultMap="QfUserFormResult">
        <include refid="selectQfUserFormVo"/>
        <where>  
            <if test="createId != null "> and create_id = #{createId}</if>

        </where>
    </select>
    
    <select id="selectQfUserFormById" parameterType="Long" resultMap="QfUserFormResult">
        <include refid="selectQfUserFormVo"/>
        where id = #{id}
    </select>
    <select id="selectQfSchoolFormList" resultMap="QfUserFormResult">
        select t1.id, create_id,if(t3.end_time is null,5,t1.state) as state,school_name,school_id ,t1.create_time from qf_school_form as t1 left join
(select t2.id as cid,t2.end_time from qf_create_form as t2 where t2.end_time <![CDATA[ >= ]]> now()) as t3
on t1.create_id = t3.cid where create_id =#{id}
    </select>

    <insert id="insertQfUserForm" parameterType="com.ruoyi.survey.domain.QfUserForm" useGeneratedKeys="true" keyProperty="id">
        insert into qf_school_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createId != null">create_id,</if>
            <if test="schoolId != null">school_id,</if>
            <if test="schoolName != null">school_name,</if>

            <if test="createTime != null">create_time,</if>

            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createId != null">#{createId},</if>
            <if test="schoolId != null">#{schoolId},</if>
            <if test="schoolName != null">#{schoolName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateQfUserForm" parameterType="com.ruoyi.survey.domain.QfUserForm">
        update qf_school_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="createId != null">create_id = #{createId},</if>

            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQfUserFormById" parameterType="Long">
        delete from qf_school_form where id = #{id}
    </delete>

    <delete id="deleteQfUserFormByIds" parameterType="String">
        delete from qf_school_form where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>